@model CoSoKTPM.Models.BaiViet
@{
    ViewBag.Title = "Index";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Đăng bài giới thiệu sản phẩm - Quảng cáo</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index", "Dashboard")'>Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href='@Url.Action("Index", "NewArticle")'>Đăng bài viết</a></li>
                </ol>
            </div>
        </div>
        @using (Html.BeginForm("Index", "NewArticle", FormMethod.Post))
        {
            <!--nội dung-->
            <div class="row">
                <!--Left colum-->
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin chính</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="#" method="post">
                                    <div class="form-group">
                                        <label for="val-username">Tên bài viết<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.TenBV, new { @class = "form-control", @id = "val-username", @name = "val-username", @placeholder = "Nhập tên bài viết..." })
                                    </div>
                                    <div class="form-group">
                                        <label for="val-suggestions"> Nội dung tóm tắt <span class="text-danger">*</span></label>
                                        @Html.TextAreaFor(m => m.NdTomTat, new { @class = "form-control", @id = "val-suggestions", @name = "val-suggestions", @rows = "5", @placeholder = "Nhập nội dung..." })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Ngày đăng</label>
                                                @Html.TextBoxFor(m => m.NgayDang, new { @class = "form-control", @id = "date-format", @disabled = "disabled", @placeholder = "Ngày đăng...." })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="val-email"> Tài khoản <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(m => m.TaiKhoan, new { @class = "form-control", @id = "val-email", @name = "val-email", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="val-email"> Số lần đọc <span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(m => m.SoLanDoc, new { @class = "form-control", @id = "val-email", @name = "val-email", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label for="val-email"> Kiểm duyệt bài viết<span class="text-danger"></span></label><br>
                                            <input id="checkbox1" class="form-check-input" type="checkbox">
                                            <label for="checkbox1" class="form-check-label">Đã duyệt</label>
                                        </div>
                                    </div>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--right colum-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hình đại diện</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="card-body">
                            <img src="@ViewBag.HinhDD" style="min-width: 350px; max-width: 350px; height: 330px " /><br />
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="exampleInputFile">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Nội dung bài viết</h4>
                        </div>
                        <div class="card-body">
                            @Html.TextAreaFor(m => m.NoiDung, new
                            {
                                @class = "summernote",
                                @placeholder = "Place some text here",
                            })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Đăng bài viết</button>
                </div>
            </div>
        }
    </div>
</div>           