@using CoSoKTPM.Models;

@{
    ViewBag.Title = "Index";
    List<BaiViet> ds = ViewData["DanhsachBV"] as List<BaiViet>;
}
<style>
    form{
        display:inline;
    }
</style>
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Danh sách cách bài viết trong hệ thống</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index", "Dashboard")'>Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Article")'>Danh sách bài viết</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dữ liệu</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Tên bài viết</th>
                                        <th>Ngày đăng</th>
                                        <th>Tài khoản</th>
                                        <th>Số lần đọc</th>
                                        <th>Lệnh - Công cụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (BaiViet i in ds)
                                        {
                                            <tr>
                                                <td>@i.TenBV</td>
                                                <td>@string.Format("{0: hh:mm [dd/MM/yyyy]}", i.NgayDang)</td>
                                                <td>@i.TaiKhoan1.HoDem @i.TaiKhoan1.TenTV</td>
                                                <td>@i.SoLanDoc</td>
                                                <td>
                                                    @using (Html.BeginForm("Active", "Article", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="maBaiViet" value="@i.MaBV" />
                                                        <button class="btn btn-success" title="Cho phép hiển thị bài viết trên các trang công khai">@ViewBag.taCuaNut</button>
                                                    }

                                                    <button class="btn btn-default" title="Cho phép sửa bài viết...">Sửa</button>
                                                    @using (Html.BeginForm("Delete", "Article", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="maBaiViet" value="@i.MaBV" />
                                                        <button class="btn btn-danger" title="Xóa bài viết...">Xóa</button>
                                                    }

                                                </td>
                                            </tr>                            
                                        }
                                    }

                                   </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



