
@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HuyHoang BAKERY - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/PrivatePages/Content/images/favicon.png">
    @*<link href="~/Areas/PrivatePages/Content/css/style.css" rel="stylesheet">*@
    @Styles.Render("~/bundles/css2")
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Đăng nhập tài khoản của bạn</h4>
                                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label><strong>Tài khoản</strong></label>
                                            @Html.TextBox("Acc", "", new { @class = "form-control", @placehoder = "Email" })
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Mật khẩu</strong></label>
                                            @Html.Password("Pass", "", new { @class = "form-control", @placehoder = "Password" })
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <div class="form-check ml-2">
                                                    <input class="form-check-input" type="checkbox" id="basic_checkbox_1">
                                                    <label class="form-check-label" for="basic_checkbox_1">Lưu đăng nhập</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a href="page-forgot-password.html">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                                        </div>
                                    }

                                    <div class="new-account mt-3">
                                        <p>Tôi chưa có tài khoản <a class="text-primary" href="./page-register.html">Đăng ký</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    @*
        <!-- Required vendors -->
        <script src="~/Areas/PrivatePages/Content/vendor/global/global.min.js"></script>
        <script src="~/Areas/PrivatePages/Content/js/quixnav-init.js"></script>
        <script src="~/Areas/PrivatePages/Content/js/custom.min.js"></script>
    *@
    @Scripts.Render("~/bundle/scripts2")
</body>

</html>