@using CoSoKTPM.Models
@{
    ViewBag.Title = "Index";
    List<KhachHang> ds = ViewData["DanhSachKH"] as List<KhachHang>;
}
<style>
    form {
        display: inline;
    }
</style>
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Danh sách khách hàng</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index", "Dashboard")'>Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href='@Url.Action("Index", "Customer")'>Danh sách khách hàng</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dữ liệu</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã KH</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Địa chỉ</th>
                                        <th>Ngày sinh</th>
                                        <th>Giới tính</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int n = 1;
                                        foreach (KhachHang i in ds)
                                        {
                                            <tr>
                                                <td>@i.MaKH</td>
                                                <td>@i.TenKH</td>
                                                <td>@i.SDT</td>
                                                <td>@i.Email</td>
                                                <td>@i.DiaChi</td>
                                                <td>@i.NgaySinh</td>
                                                <td>@if (i.GioiTinh == true)
                                                        {<p>Nam</p>}
                                                    else
                                                    {
                                                        {<p>Nữ</p>}
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
